Personal Folders/park-jsdev/week_5_code_submission/Microsoft.Flow/flows/586c7093-3bf1-4577-8d0a-41a5b3a5c518/definition.json
{"name":"2039dd77-2a0e-424f-a1a6-2b8854163ef1","id":"/providers/Microsoft.Flow/flows/2039dd77-2a0e-424f-a1a6-2b8854163ef1","type":"Microsoft.Flow/flows","properties":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_logicflows","displayName":"Writing - Send an email for a selected row","definition":{"metadata":{"workflowEntityId":null,"processAdvisorMetadata":null,"flowChargedByPaygo":null,"flowclientsuspensionreason":"None","flowclientsuspensiontime":null,"flowclientsuspensionreasondetails":null,"creator":{"id":"98ccb22a-da11-4afa-a6fe-f350b1f64f12","type":"User","tenantId":"482198bb-ae7b-4b25-8b7a-6d7f32faa083"},"provisioningMethod":"FromDefinition","failureAlertSubscription":true,"clientLastModifiedTime":"2024-06-14T19:31:15.0958026Z","connectionKeySavedTimeKey":"2024-06-14T19:31:15.0958026Z"},"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$authentication":{"defaultValue":{},"type":"SecureObject"},"$connections":{"defaultValue":{},"type":"Object"}},"triggers":{"manual":{"type":"Request","kind":"Button","inputs":{"schema":{"type":"object","properties":{},"required":[]}}}},"actions":{"List_rows_present_in_a_table":{"runAfter":{},"metadata":{"01V4VIOOTUQZEZVYNBVFC32AGITMTG5T3B":"/gpu.xlsx","tableId":"{00000000-000C-0000-FFFF-FFFF00000000}","01V4VIOOSPRVGT4ATPARAK73VPFWJ53K5O":"/writing test.xlsx","01V4VIOOXWYG6CFDPFSFELEYUYUZGJWV4O":"/writing test.xlsx","01V4VIOOUUSHWCKCXXPJC2CRKDVO5SRCWL":"/writing test.xlsx","01V4VIOOWN4RK4SR65LBFZANRNR5BQWGW7":"/writing test.xlsx","01V4VIOOTI6FU7OCIB4ZDILOO4GQ5FD43F":"/The Researcher Directory(1-39).xlsx"},"type":"OpenApiConnection","inputs":{"parameters":{"source":"groups/682fd8da-e872-40ea-91a6-2f9ed8185b3b","drive":"b!buku6BQ7-UKC5wT1UMtkOM3O30sfTjJDqfD3xu9LBBjeF7mBMAlkSpS5n9rF1rGg","file":"01V4VIOOTI6FU7OCIB4ZDILOO4GQ5FD43F","table":"{00000000-000C-0000-FFFF-FFFF00000000}"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_excelonlinebusiness","connectionName":"shared_excelonlinebusiness","operationId":"GetItems"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}},"Foreach":{"foreach":"@outputs('List_rows_present_in_a_table')?['body/value']","actions":{"Condition":{"actions":{"Create_file":{"runAfter":{"Send_an_email_(V2)":["Succeeded"]},"type":"OpenApiConnection","inputs":{"parameters":{"folderPath":"/HAAG","name":"@item()?['Name']","body":"@outputs('Send_an_email_(V2)')?['body']"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_onedriveforbusiness","connectionName":"shared_onedriveforbusiness","operationId":"CreateFile"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}},"Send_an_email_(V2)":{"metadata":{"flowSystemMetadata":{"swaggerOperationId":"SendEmail"}},"type":"OpenApiConnection","inputs":{"parameters":{"emailMessage/To":"@item()?['Email2']","emailMessage/Subject":"CS 8903 Human Augmented Analytics Group Availability","emailMessage/Body":"<p>Dear @{item()?['Name2']},</p><br><p>You indicated that you wished to be contacted for volunteer opportunities with the CS 8903 Human Augmented Analytics Group with Breanna Shi.</p><p>We are currently looking for volunteer researchers to assist with scientific writing. Please be aware that your cooperation in this project would assist with your acceptance for a researcher position in the future and may lead to co-authorship on a publication.</p><p>I just want to confirm your availability to assist on this project. Could you please respond to this email with when you could be contacted, and the time commitment you could make?</p><br><p>Regards,</p><p>Junsoo Park</p>","emailMessage/Importance":"Normal"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_office365","connectionName":"shared_office365","operationId":"SendEmailV2"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}}},"else":{"actions":{}},"expression":{"and":[{"not":{"equals":["@item()?['Prefer method of contact for opportunities ']",""]}}]},"type":"If"}},"runAfter":{"List_rows_present_in_a_table":["Succeeded"]},"type":"Foreach"}}},"connectionReferences":{"shared_excelonlinebusiness":{"connectionName":"shared-excelonlinebu-8b1591bb-6aa8-41b1-8cef-76de88d2acd8","source":"Invoker","id":"/providers/Microsoft.PowerApps/apis/shared_excelonlinebusiness","tier":"NotSpecified"},"shared_onedriveforbusiness":{"connectionName":"shared-onedriveforbu-3a251c0f-60bd-4d13-80ff-0da9c8dc7a8e","source":"Invoker","id":"/providers/Microsoft.PowerApps/apis/shared_onedriveforbusiness","tier":"NotSpecified"},"shared_office365":{"connectionName":"shared-office365-1bb1c7b0-3a66-430b-a2f1-c60483bebf4d","source":"Invoker","id":"/providers/Microsoft.PowerApps/apis/shared_office365","tier":"NotSpecified"}},"flowFailureAlertSubscribed":false,"isManaged":false}}