Personal Folders/park-jsdev/week_4_code_submission/Microsoft.Flow/flows/ac6dd37d-dca4-454e-9d33-76301c0e5f56/definition.json
{"name":"f61de1e2-9382-43e9-b79b-66f5348cec7d","id":"/providers/Microsoft.Flow/flows/f61de1e2-9382-43e9-b79b-66f5348cec7d","type":"Microsoft.Flow/flows","properties":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_logicflows","displayName":"Send an email for a selected row","definition":{"metadata":{"workflowEntityId":null,"processAdvisorMetadata":null,"flowChargedByPaygo":null,"flowclientsuspensionreason":"None","flowclientsuspensiontime":null,"flowclientsuspensionreasondetails":null,"creator":{"id":"98ccb22a-da11-4afa-a6fe-f350b1f64f12","type":"User","tenantId":"482198bb-ae7b-4b25-8b7a-6d7f32faa083"},"provisioningMethod":"FromDefinition","failureAlertSubscription":true,"clientLastModifiedTime":"2024-06-07T19:36:46.8610611Z","connectionKeySavedTimeKey":"2024-06-07T19:36:46.8610611Z"},"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$authentication":{"defaultValue":{},"type":"SecureObject"},"$connections":{"defaultValue":{},"type":"Object"}},"triggers":{"manual":{"type":"Request","kind":"Button","inputs":{"schema":{"type":"object","properties":{},"required":[]}}}},"actions":{"List_rows_present_in_a_table":{"runAfter":{},"metadata":{"01V4VIOOTUQZEZVYNBVFC32AGITMTG5T3B":"/gpu.xlsx","tableId":"{C781E1BE-4FEF-4F84-8A76-48D51D0C068A}"},"type":"OpenApiConnection","inputs":{"parameters":{"source":"groups/682fd8da-e872-40ea-91a6-2f9ed8185b3b","drive":"b!buku6BQ7-UKC5wT1UMtkOM3O30sfTjJDqfD3xu9LBBjeF7mBMAlkSpS5n9rF1rGg","file":"01V4VIOOTUQZEZVYNBVFC32AGITMTG5T3B","table":"{C781E1BE-4FEF-4F84-8A76-48D51D0C068A}"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_excelonlinebusiness","connectionName":"shared_excelonlinebusiness","operationId":"GetItems"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}},"Foreach":{"foreach":"@outputs('List_rows_present_in_a_table')?['body/value']","actions":{"Condition":{"actions":{"Create_file":{"runAfter":{"Send_an_email_(V2)":["Succeeded"]},"type":"OpenApiConnection","inputs":{"parameters":{"folderPath":"/HAAG","name":"@item()?['Name']","body":"@outputs('Send_an_email_(V2)')?['body']"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_onedriveforbusiness","connectionName":"shared_onedriveforbusiness","operationId":"CreateFile"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}},"Send_an_email_(V2)":{"metadata":{"flowSystemMetadata":{"swaggerOperationId":"SendEmail"}},"type":"OpenApiConnection","inputs":{"parameters":{"emailMessage/To":"@item()?['Email']","emailMessage/Subject":"CS 8903 Human Analytics Group Availability","emailMessage/Body":"<p>Dear @{item()?['Name']},</p><br><p>You indicated that you had GPU access, experience writing scripts to a server, and that you wanted to be contacted for any opportunities to help on this project.</p><br><p>I just want to confirm your availability to assist on this project. Could you please respond to this email with when you could be contacted, and the time commitment you could make?</p><br><p>Regards,</p><p>Junsoo Park</p>","emailMessage/Importance":"Normal"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_office365","connectionName":"shared_office365","operationId":"SendEmailV2"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}}},"else":{"actions":{}},"expression":{"and":[{"equals":["@items('Foreach')?['GPUAccess']","1"]},{"equals":["@items('Foreach')?['GPUExperience']","1"]}]},"type":"If"}},"runAfter":{"List_rows_present_in_a_table":["Succeeded"]},"type":"Foreach"}}},"connectionReferences":{"shared_excelonlinebusiness":{"connectionName":"shared-excelonlinebu-8b1591bb-6aa8-41b1-8cef-76de88d2acd8","source":"Invoker","id":"/providers/Microsoft.PowerApps/apis/shared_excelonlinebusiness","tier":"NotSpecified"},"shared_onedriveforbusiness":{"connectionName":"shared-onedriveforbu-3a251c0f-60bd-4d13-80ff-0da9c8dc7a8e","source":"Invoker","id":"/providers/Microsoft.PowerApps/apis/shared_onedriveforbusiness","tier":"NotSpecified"},"shared_office365":{"connectionName":"shared-office365-1bb1c7b0-3a66-430b-a2f1-c60483bebf4d","source":"Invoker","id":"/providers/Microsoft.PowerApps/apis/shared_office365","tier":"NotSpecified"}},"flowFailureAlertSubscribed":false,"isManaged":false}}