Personal Folders/park-jsdev/week_2_code_submission/Microsoft.Flow/flows/2e7f583a-d4aa-450a-8f34-f3d3b211b35b/definition.json
{"name":"2e4cd5fc-a67a-4093-8c90-9a3952e8ad57","id":"/providers/Microsoft.Flow/flows/2e4cd5fc-a67a-4093-8c90-9a3952e8ad57","type":"Microsoft.Flow/flows","properties":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_logicflows","displayName":"Send an email to responder when response submitted in Microsoft Forms","definition":{"metadata":{"workflowEntityId":null,"processAdvisorMetadata":null,"flowChargedByPaygo":null,"flowclientsuspensionreason":"None","flowclientsuspensiontime":null,"flowclientsuspensionreasondetails":null,"creator":{"id":"98ccb22a-da11-4afa-a6fe-f350b1f64f12","type":"User","tenantId":"482198bb-ae7b-4b25-8b7a-6d7f32faa083"},"provisioningMethod":"FromDefinition","failureAlertSubscription":true,"clientLastModifiedTime":"2024-05-24T22:07:27.7437994Z","connectionKeySavedTimeKey":"2024-05-24T22:07:27.7437994Z"},"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$authentication":{"defaultValue":{},"type":"SecureObject"},"$connections":{"defaultValue":{},"type":"Object"}},"triggers":{"When_a_new_response_is_submitted":{"splitOn":"@triggerOutputs()?['body/value']","type":"OpenApiConnectionWebhook","inputs":{"parameters":{"form_id":"u5ghSHuuJUuLem1_MvqggyqyzJgR2vpKpv7zULH2TxJUOUswQURESTcwNDVFM1pYREhXOVg3OEhRVS4u"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_microsoftforms","connectionName":"shared_microsoftforms","operationId":"CreateFormWebhook"},"authentication":"@parameters('$authentication')"}}},"actions":{"Get_response_details":{"runAfter":{},"type":"OpenApiConnection","inputs":{"parameters":{"form_id":"u5ghSHuuJUuLem1_MvqggyqyzJgR2vpKpv7zULH2TxJUOUswQURESTcwNDVFM1pYREhXOVg3OEhRVS4u","response_id":"@triggerOutputs()?['body/resourceData/responseId']"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_microsoftforms","connectionName":"shared_microsoftforms","operationId":"GetFormResponseById"},"authentication":"@parameters('$authentication')"}},"Condition":{"actions":{"Send_an_email_(V2)":{"type":"OpenApiConnection","inputs":{"parameters":{"emailMessage/To":"jpark3232@gatech.edu","emailMessage/Subject":"Microsoft Form Response:  @{triggerOutputs()?['body/resourceData/responseId']}","emailMessage/Body":"<p>Microsoft Forms response has been submitted by \"@{outputs('Get_response_details')?['body/responder']}\" at \"@{outputs('Get_response_details')?['body/submitDate']}\"</p>"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_office365","connectionName":"shared_office365","operationId":"SendEmailV2"},"authentication":"@parameters('$authentication')"}},"Create_file":{"runAfter":{"Send_an_email_(V2)":["Succeeded"]},"type":"OpenApiConnection","inputs":{"parameters":{"dataset":"https://gtvault.sharepoint.com/sites/HAAG","folderPath":"/library/Forms","name":"Resource Request For @{body('Get_response_details')?['r72643f0fc0144c69a5c47f3b1fe92965']} - @{triggerOutputs()?['body/resourceData/responseId']}","body":"@{triggerOutputs()?['body/resourceData/responseId']}@{body('Get_response_details')?['rc486d99989d140dbb29ff86260a518ad']}@{body('Get_response_details')?['r72643f0fc0144c69a5c47f3b1fe92965']}@{body('Get_response_details')?['r6693d199a83a4c82b12ddc8be066109b']}@{body('Get_response_details')?['re16561dc25e44372b6e745140c1742a5']}@{body('Get_response_details')?['rb61642d56f4c4e509f6ee87948ed1e3a']}@{body('Get_response_details')?['responder']}"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"CreateFile"},"authentication":"@parameters('$authentication')"},"runtimeConfiguration":{"contentTransfer":{"transferMode":"Chunked"}}}},"runAfter":{"Get_response_details":["Succeeded"]},"else":{"actions":{}},"expression":{"not":{"equals":["@outputs('Get_response_details')?['body/responder']","anonymous"]}},"type":"If"}},"outputs":{}},"connectionReferences":{"shared_microsoftforms":{"connectionName":"shared-microsoftform-f858c746-cc11-407d-8d6d-021be42f6ec7","source":"Embedded","id":"/providers/Microsoft.PowerApps/apis/shared_microsoftforms","tier":"NotSpecified"},"shared_office365":{"connectionName":"shared-office365-1bb1c7b0-3a66-430b-a2f1-c60483bebf4d","source":"Embedded","id":"/providers/Microsoft.PowerApps/apis/shared_office365","tier":"NotSpecified"},"shared_sharepointonline":{"connectionName":"6ba072c49c654d5881a51bc5d07c0a25","source":"Embedded","id":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","tier":"NotSpecified"}},"flowFailureAlertSubscribed":false,"isManaged":false}}